.collection{
	width:50%;
	left:25%;
	top:35%;
	position:absolute;
	border-radius:35px;
	border:5px solid;
	border-color: white;
	background-color:black;
}

.collection-item {
  text-align:center;
  background-color:black;
  color:white;
  font-family:Bangers;
}
