<app-menu></app-menu>
<ul class="collection">
  <div  class="collection-item dismissable" style="color:#009688;"><h1>SeeYoursComics</h1></div>
  <li class="collection-item dismissable">
      <p style="font-size: 25px">SeeYoursComics is for comic book fans, where they can take control of your collections.
From this system, the user can register all the comics he has (digital or physical),
check if you have completed collections, have control over possible loans you have made and monitor the
how much you spent with comics. The data can be entered, accessed and modified by the registered user
provided you have a device with internet access.</p>
  </li>
</ul>
